@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  background: #353844;
}

label {
  color: #fff;
}

#art {
  color: #fff;
}
#copy-btn {
  background-color: #D9FFF8;
  color: #000;
  border-radius: 0%;
  border-color: #D9FFF8;
  &:focus {
    box-shadow: none;
  }
}

#input {
  border-radius: 0%;
  &:focus {
    border-color: #fff;
    box-shadow: none;
  }
}

.form-select {
  border-radius: 0%;
  &:focus {
    border-color: #fff;
    box-shadow: none;
  }
}
